<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate News App</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="inputURL" type="text" name="input" value="" onblur="onBlur()"
                    placeholder="Enter the URL here">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
            <div id="errorMessage"></div>
        </section>
        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
            <div id="subjectivity"></div>
            <div id="score"></div>
        </section>
        <section>
            <img src="../images/meaningCloud-logo.png" alt="Meaning Cloud logo" height="100" width="247">
            <a href="https://www.meaningcloud.com/" target="blank">Powered by MeaningCloud API</a>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>